<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% include 'admin_panel/shared/header_references.html' %}
    {% block header_references %}{% endblock %}
</head>
<body>
{% include 'admin_panel/shared/loading.html' %}
{% include 'admin_panel/shared/navbar.html' %}
<div class="main-container container-fluid">
    <div class="page-container">
        {% include 'admin_panel/shared/sidebar.html' %}
        <div class="page-content">
            {% include 'admin_panel/shared/page_header.html' %}
            <div class="page-body">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% include 'admin_panel/shared/footer_references.html' %}
{% block footer_references %}{% endblock %}
</body>
</html>
