<link rel="shortcut icon" href="/static/admin_panel/img/favicon.png" type="image/x-icon">
<!--Basic Styles-->
<link href="/static/admin_panel/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/static/admin_panel/css/bootstrap-rtl.min.css" rel="stylesheet"/>
<link href="/static/admin_panel/css/font-awesome.min.css" rel="stylesheet"/>
<link href="/static/admin_panel/css/weather-icons.min.css" rel="stylesheet"/>
<!--Fonts-->
<style>
    @font-face {
        font-family: 'WYekan';
        src: url('/static/admin_panel/fonts/BYekan.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
<!--Beyond styles-->
<link href="/static/admin_panel/css/beyond-rtl.min.css" rel="stylesheet"/>
<link href="/static/admin_panel/css/4095-rtl.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/admin_panel/css/demo.min.css" rel="stylesheet"/>
<link href="/static/admin_panel/css/typicons.min.css" rel="stylesheet"/>
<link href="/static/admin_panel/css/animate.min.css" rel="stylesheet"/>
<link id="skin-link" href="" rel="stylesheet" type="text/css"/>