{% load thumbnail %}
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <div class="navbar-header pull-right">
                <a href="{% url 'admin_panel:home_admin' %}" class="navbar-brand">
                    <small><img src="/static/admin_panel/img/logo-rtl.png" alt=""/></small>
                </a>
            </div>
            <div class="sidebar-collapse" id="sidebar-collapse"><i class="collapse-icon fa fa-bars"></i></div>
            <div class="navbar-header pull-left">
                <div class="navbar-account">
                    <ul class="account-area">
                        <li>
                            <a class=" dropdown-toggle" data-toggle="dropdown" title="Help" href="#"><i class="icon fa fa-warning"></i></a>
                            <!--Notification Dropdown-->
                            <ul class="pull-right dropdown-menu dropdown-arrow dropdown-notifications">
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <div class="notification-icon">
                                                <i class="fa fa-phone bg-themeprimary white"></i>
                                            </div>
                                            <div class="notification-body">
                                                <span class="title">ملاقات در اسکایپ با علی</span>
                                                <span class="description">01:00 بعد از ظهر</span>
                                            </div>
                                            <div class="notification-extra">
                                                <i class="fa fa-clock-o themeprimary"></i>
                                                <span class="description">دفتر</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <div class="notification-icon">
                                                <i class="fa fa-check bg-darkorange white"></i>
                                            </div>
                                            <div class="notification-body">
                                                <span class="title">استراحت پیش بینی نشده</span>
                                                <span class="description">03:30 pm - 05:15 pm</span>
                                            </div>
                                            <div class="notification-extra">
                                                <i class="fa fa-clock-o darkorange"></i>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <div class="notification-icon">
                                                <i class="fa fa-gift bg-warning white"></i>
                                            </div>
                                            <div class="notification-body">
                                                <span class="title">تولد مهرام</span>
                                                <span class="description">08:30 pm</span>
                                            </div>
                                            <div class="notification-extra">
                                                <i class="fa fa-calendar warning"></i>
                                                <i class="fa fa-clock-o warning"></i>
                                                <span class="description">خانه</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <div class="notification-icon">
                                                <i class="fa fa-glass bg-success white"></i>
                                            </div>
                                            <div class="notification-body">
                                                <span class="title">شام با دوستان</span>
                                                <span class="description">10:30 pm</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-footer ">
                                        <span>
                                            امروز، 14 تیر
                                        </span>
                                    <span class="pull-left">
                                            10°c
                                            <i class="wi wi-cloudy"></i>
                                        </span>
                                </li>
                            </ul>
                            <!--/Notification Dropdown-->
                        </li>
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" title="Mails" href="#"><i class="icon fa fa-envelope"></i><span class="badge">3</span></a>
                            <!--Messages Dropdown-->
                            <ul class="pull-right dropdown-menu dropdown-arrow dropdown-messages">
                                <li>
                                    <a href="#">
                                        <img src="/static/admin_panel/img/avatars/divyia.jpg" class="message-avatar"
                                             alt="Divyia Austin">
                                        <div class="message">
                                                <span class="message-sender">
                                                    دیویا فیلیپس
                                                </span>
                                            <span class="message-time">
                                                    2 دقیقه پیش
                                                </span>
                                            <span class="message-subject">
                                                    دستور پخت پای سیب ارسال می گردد
                                                </span>
                                            <span class="message-body">
                                                    برای پختن پای سیب تنها لازم است تا سیب داشته باشید
                                                </span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/static/admin_panel/img/avatars/bing.png" class="message-avatar"
                                             alt="Microsoft Bing">
                                        <div class="message">
                                                <span class="message-sender">
                                                    Bing.com
                                                </span>
                                            <span class="message-time">
                                                    دیروز
                                                </span>
                                            <span class="message-subject">
                                                    Bing Newsletter: The January Issue‏
                                                </span>
                                            <span class="message-body">
                                                    Discover new music just in time for the Grammy® Awards.
                                                </span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/static/admin_panel/img/avatars/adam-jansen.jpg"
                                             class="message-avatar"
                                             alt="Divyia Austin">
                                        <div class="message">
                                                <span class="message-sender">
                                                    Nicolas
                                                </span>
                                            <span class="message-time">
                                                    Friday, September 22
                                                </span>
                                            <span class="message-subject">
                                                    دوربین های 4کی جدید
                                                </span>
                                            <span class="message-body">
                                                    انقلاب دوربین های 4کی به مرحله جدیدی رسیده است.
                                                </span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <!--/Messages Dropdown-->
                        </li>
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" title="Tasks" href="#"><i class="icon fa fa-tasks"></i><span class="badge">4</span></a>
                            <!--Tasks Dropdown-->
                            <ul class="pull-right dropdown-menu dropdown-tasks dropdown-arrow ">
                                <li class="dropdown-header bordered-darkorange">
                                    <i class="fa fa-tasks"></i>
                                    4 وظیفه در حال انجام
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-right">ایجاد حساب</span>
                                            <span class="pull-left">65%</span>
                                        </div>

                                        <div class="progress progress-xs">
                                            <div style="width:65%" class="progress-bar"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-right">تکمیل پروفایل</span>
                                            <span class="pull-left">35%</span>
                                        </div>

                                        <div class="progress progress-xs">
                                            <div style="width:35%" class="progress-bar progress-bar-success"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-right">تکمیل رزومه</span>
                                            <span class="pull-left">75%</span>
                                        </div>

                                        <div class="progress progress-xs">
                                            <div style="width:75%" class="progress-bar progress-bar-darkorange"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">افزودن دوستان</span>
                                            <span class="pull-right">10%</span>
                                        </div>

                                        <div class="progress progress-xs">
                                            <div style="width:10%" class="progress-bar progress-bar-warning"></div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-footer">
                                    <a href="#">
                                        مشاهده همه وظایف
                                    </a>
                                    <button class="btn btn-xs btn-default shiny darkorange icon-only pull-left"><i
                                            class="fa fa-check"></i></button>
                                </li>
                            </ul>
                            <!--/Tasks Dropdown-->
                        </li>
                        <li><a class="wave in" id="chat-link" title="Chat" href="#"><i class="icon glyphicon glyphicon-comment"></i></a></li>
                        <li>
                            <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                {% if request.user.avatar %}
                                    {% thumbnail request.user.avatar "29x29" crop='center' quality=100 as img %}
                                        <div class="avatar" title="View your public profile">
                                            <img class="media-object" src="{{ img.url }}" alt="{{ img.name }}">
                                        </div>
                                    {% endthumbnail %}
                                {% else %}
                                    <img class="media-object" src="/static/admin_panel/img/avatars/adam-jansen.jpg" alt="blog one">
                                {% endif %}
                                <section><h2><span class="profile"><span>{{ request.user.username }}</span></span></h2></section>
                            </a>
                            <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                <li class="username"><a>{{ request.user.username }}</a></li>
                                <li class="email"><a>{{ request.user.email }}</a></li>
                                <li>
                                    <div class="avatar-area">
                                        {% if request.user.avatar %}
                                            {% thumbnail request.user.avatar "128x128" crop='center' quality=100 as img %}
                                                <div class="avatar">
                                                    <img class="media-object" src="{{ img.url }}" alt="{{ img.name }}">
                                                </div>
                                            {% endthumbnail %}
                                        {% else %}
                                            <img class="media-object" src="/static/admin_panel/img/avatars/adam-jansen.jpg" alt="blog one">
                                        {% endif %}
                                        <span class="caption">تغییر تصویر</span>
                                    </div>
                                </li>
                                <li class="edit">
                                    <a href="#" class="pull-left">پروفایل</a>
                                    <a href="#" class="pull-right">تنظیمات</a>
                                </li>
                                <li class="theme-area">
                                    <ul class="colorpicker" id="skin-changer">
                                        <li><a class="colorpick-btn" href="#" style="background-color:#5DB2FF;" rel="/static/admin_panel/css/skins/blue.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#2dc3e8;" rel="/static/admin_panel/css/skins/azure.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#03B3B2;" rel="/static/admin_panel/css/skins/teal.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#53a93f;" rel="/static/admin_panel/css/skins/green.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#FF8F32;" rel="/static/admin_panel/css/skins/orange.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#cc324b;" rel="/static/admin_panel/css/skins/pink.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#AC193D;" rel="/static/admin_panel/css/skins/darkred.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#8C0095;" rel="/static/admin_panel/css/skins/purple.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#0072C6;" rel="/static/admin_panel/css/skins/darkblue.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#585858;" rel="/static/admin_panel/css/skins/gray.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#474544;" rel="/static/admin_panel/css/skins/black.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#001940;" rel="/static/admin_panel/css/skins/deepblue.min.css"></a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-footer"><a href="{% url 'accounts:logout_page' %}">خروج از سیستم</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
