{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load render_partial %}

{% block title %}ویرایش اطلاعات کاربری{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a class="thumbnail">
                    {% if current_user.avatar %}
                        {% thumbnail current_user.avatar "862x398" crop='center' quality=100  as img %}
                            <img class="media-object" src="{{ img.url }}" alt="{{ img.name }}">
                        {% endthumbnail %}
                    {% else %}
                        <img class="media-object" src="/static/images/blog/blog-one.jpg" alt="blog one">
                    {% endif %}
                </a>
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            <div class="col-md-8">
                <form method="post" action="{% url 'users:edit_profile_page' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">ثبت</button>
                    <br><br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}