<ul class="list-group">
    <li class="list-group-item">
        <a href="{% url 'users:user_panel_dashboard' %}">پنل کاربری</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'users:edit_profile_page' %}">ویرایش اطلاعات</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'users:user_shopping_page' %}">لیست خرید های قبلی</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'users:change_password_page' %}">تغییر کلمه عبور</a>
    </li>
</ul>